* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
}

html, body {
  min-height: 100%;
}

body {
  /* background-color:;
  font-family: ; */
}